
/* Variables */
:root{
    --c-primary: #3F4F6D;
    --c-hover-blue: #e0effa;
    --c-bg: #F1F5F8;
    --c-blue:  #4584EF;
    --c-purple:  #6a3adb;
    --c-green: #3ECFAB;
    --c-green-hover: #14b6b6;
    --c-orange: #F89060;
    --c-pink: #FC5889;
    --c-grey: #868686;
    --c-error: #e02929;
    --c-error-shadow: rgba(224, 41, 41, 0.4);
    --c-shadow: rgba(50,66, 91, 0.1);
    --shadow: 8px 0px 16px var(--c-shadow);
    --shadow-card: 0px 2px 8px var(--c-shadow);
    --title-section: 22px;
    --title-card: 18px;
    --text: 14px;
    --text-btn: 16px;
    --text-mini: 12px;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text);
    color: var(--c-primary);
    background-color: var(--c-bg);
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar Chrome */
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 8px;
}
/* Track */
::-webkit-scrollbar-track {
background: var(--c-bg); 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #dbe0e4; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #dbe0e4; 
} /* END Custom Scrollbar */


.grid-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 280px) 1fr 1fr;
}

.aside--fixed {
    background-color: white;
    box-shadow: var(--shadow);
    position: fixed;
    height: 100vh;
    animation: leftToRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-animation: leftToRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aside__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.brand {
    font-size: 24px;
    font-weight: 700;
}

.form__container {
    margin: 40px 0;
}

.field {
    margin-bottom: 24px;
}

.field input,
.field textarea,
.field select {
    border: none;
    display: block;
    background-color: var(--c-bg);
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px;
    max-width: 213px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--text);
    color: var(--c-primary);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.field select {
    background: url(assets/chevron-down-outline.svg) no-repeat right var(--c-bg);
    -webkit-appearance: none;
    background-position-x: 181px;
    background-size: 24px;
}

.field textarea {
    height: 100px;
    padding: 16px;
    resize: none;   
}

.field input.error,
.field textarea.error {
    border: 1px solid var(--c-error);
    box-shadow: 0px 0px 5px var(--c-error-shadow);
}

.field input:focus {
    border: 1px solid var(--c-green-hover);
}

.field textarea:focus {
    border: 1px solid var(--c-green-hover);
}

.btn {
    background-color: var(--c-green);
    border: 2px solid var(--c-green);
    color: white;
    width: 100%;
    font-weight: 700;
    font-size: var(--text-btn);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    line-height: 34px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: var(--c-green-hover);
    border: 2px solid var(--c-green-hover);
}

.btn-cancel {
    background-color: #fff;
    border: 2px solid var(--c-green);
    color: var(--c-green);
}

.btn-cancel:hover {
    background-color: #fff;
    border: 2px solid var(--c-green-hover);
    color: var(--c-green-hover);
}

.dNone {
    display: none;
}

button.btn {
    margin-top: 8px;
}

.yesterday-section,
.today-section {
    padding: 0 24px;
    margin: 30px 0 0;
    overflow: auto;
    scrollbar-color: #dbe0e4 #fff;
    scrollbar-width: thin;
}

.yesterday-section h3,
.today-section h3 {
    font-size: var(--title-section);
    margin-bottom: 30px;
    animation: opacity 2s ease-in-out;
    -webkit-animation: opacity 2s ease-in-out;
}


/* CARDS */

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all 0.3s ease-in-out ;
    -webkit-transition: all 0.3s ease-in-out ;
    -moz-transition: all 0.3s ease-in-out ;
    -ms-transition: all 0.3s ease-in-out ;
    -o-transition: all 0.3s ease-in-out ;
    animation: opacity .8s ease-in-out ;
    -webkit-animation: opacity .8s ease-in-out ;
    box-shadow: 0px 0px 0px var(--c-shadow);
}

.card:hover {
    box-shadow: var(--shadow-card);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.card-title {
    font-size: var(--title-card);
}

.link {
    text-decoration: none;
    color: var(--c-primary);
}
.link:hover {
    color: var(--c-blue);
}

.card-actions {
    display: flex;
}

.icon-action {
    background-color: var(--c-bg);
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}

.icon-action:not(:last-of-type){
    margin-right: 5px;
}

.today-section .icon-change {
    background: var(--c-bg) url('assets/corner-up-left-outline.svg') no-repeat center;
    background-size: 20px;
}

.yesterday-section .icon-change {
    background: var(--c-bg) url('assets/corner-up-left-outline.svg') no-repeat center;
    background-size: 20px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.yesterday-section .icon-change .tooltiptext {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.icon-action:hover,
.today-section .icon-change:hover,
.yesterday-section .icon-change:hover {
    background-color: var(--c-hover-blue);
}

.icon-close {
    background: var(--c-bg) url('assets/close-outline.svg') no-repeat center;
    background-size: 20px;
}

.icon-edit {
    background: var(--c-bg) url('assets/edit-outline.svg') no-repeat center;
    background-size: 20px;
}

.card-content {
    margin-bottom: 12px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-status {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 4px 16px;
    font-weight: 700;
    font-size: var(--text-mini);
}

.btn-orange {
    border: 2px solid var(--c-orange);
    color: var(--c-orange);
}
.btn-green {
    border: 2px solid var(--c-green);
    color: var(--c-green);
}
.btn-pink {
    border: 2px solid var(--c-pink);
    color: var(--c-pink);
}
.btn-blue {
    border: 2px solid var(--c-blue);
    color: var(--c-blue);
}
.btn-purple {
    border: 2px solid var(--c-purple);
    color: var(--c-purple);
}
.btn-grey {
    border: 2px solid var(--c-grey);
    color: var(--c-grey);
}
.btn-primary {
    border: 2px solid var(--c-primary);
    color: var(--c-primary);
}
.btn-error {
    border: 2px solid var(--c-error);
    color: var(--c-error);
}


/* END CARDS */

/* blur effect */
.blur-disabled {
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    transition: all .3s ease-in-out;
    pointer-events: none;
    user-select: none;
}

/* ANIMATIONS */
@keyframes leftToRight {
    0% {
        left: -380px;
}
    100% {
        left: 0;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* TOOLTIPS */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: var(--c-primary);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
  }
  
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--c-primary) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance:textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c8d4dd;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c8d4dd;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #c8d4dd;
}

input[disabled] {
    opacity: 0.3;
}


/* OLD CASES */
/* .old-cases__button {
    position: absolute;
    bottom: 25px;
    border-bottom: 1px solid;
    cursor: pointer;
    z-index: 4;
}

.old-cases__container{
    position: absolute;
    height: 100%;
    background-color: #fff;
    width: 249px;
    top: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    border-top: 5px solid var(--c-green-hover);
    padding: 16px;
}

.old-cases__container.open {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.old-case {
    border: 1px solid var(--c-primary);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.old-case .card-title {
    font-size: var(--text);
} */


/* MEDIAQUERIES  */

@media all and (max-width: 1366px){
    .brand {
        font-size: 20px;
    }
    .form__container {
        margin: 20px 0;
    }

    .field {
        margin-bottom: 18px;
    }

    .field textarea {
        height: 65px;
        padding: 12px;
    }
    .field input, .field select {
        padding: 8px 10px;
        height: 36px;
    }

    .yesterday-section h3,
    .today-section h3 {
        font-size: var(--title-card);
        margin-bottom: 25px;
    }

    .icon-edit {
        background-size: 18px;
    }
    .icon-action {
        width: 28px;
        height: 28px;
    }

}
