body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.text-cyan-500 {
  color: #87DFF0;
}


.bg-cyan-500 {
  background: #87DFF0;
}

.font-title {
  font-family: 'Russo One', sans-serif;
}

.-z-1 {
  z-index: -1;
}

/* CARDS */
.rounded-card {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.border-bottom-right-28 {
  border-bottom-right-radius: 28px;
}

.card-hover {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  background-color: #ffffff;
}

.card-hover:hover {
  box-shadow: 10px 10px #e2e9fd;
  transform: translate(-5px,-10px);
  -webkit-transform: translate(-5px,-10px);
  -moz-transform: translate(-5px,-10px);
  -ms-transform: translate(-5px,-10px);
  -o-transform: translate(-5px,-10px);
}

.card-hover img{
  position: relative;
  filter: saturate(0.8);
  -webkit-filter: saturate(0.8);
}

/* LOADER */

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}


#modal {
 display: none;
}


.img-post-container {
  position: relative;
}

.img-post-container:after {
    pointer-events: none;
    content: "";
    background: linear-gradient(130deg,#1e2947,#222bb4 76.05%);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}